 .contact{
    padding:6.25rem 1.25rem; 
 }

 textarea, input{
    width: 100%;
    padding: 0.87rem;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    border: 1px solid #f0e9ff;
    border-radius:0.31rem ;
    /* height: 48px; */
    padding-left: 1.12rem;
    font-size: 0.81rem;
    background: transparent;
 }

 textarea:focus,
 input:focus{
    outline: 0;
    /* box-shadow: none;   */
 }
 .half-flex{
    display: flex;
    
 }
 
 .contact-firstname {
    padding-right: 0.94rem;
    flex: 1;
 }
 .contact-email{
    padding-left: 0.94rem;
    flex: 1;
 }
 .contact__send{
    margin-top: 1.87rem;
 }


 @media only screen and (max-width:991px) {
    .half-flex{
        flex-direction: column;
    }
    .contact-firstname,
    .contact-email{
        padding: 0;
    }
 }